<div class="container">
<div id='calendar'></div>
</div>

<script>
$(document).ready(function() {
    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
         header: {
		    left: 'title',
		    center: 'today prev,next',
		    right: 'month,basicWeek,basicDay'
		  }

		 
    });

});
</script>


