<div class="container">

	<h1>The Game List</h1>

	<%if @lists%> 
		<ul>
		    <% @lists.each do |list| %>
		    
		    	<li>
			    	<strong><%= list.name%></strong>
		        </li>
		        <li>
			        <%= image_tag list.logo%>
			    </li>
			    <li>
			        <%= link_to "Game Info Link", list.storelink %>
			    </li>
		    <% end %>

		</ul>
	<%else%>
		There currently is no list
	<%end%>
		<%= link_to "Get Some Games", todos_search_path%>
</div>